# Step0. 모듈 불러오기

In [2]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB

# Step1. 분석에 필요한 데이터 구성하기

In [5]:
ds = pd.read_csv("통신고객이탈.csv")
ds['CHURN'] = ds['CHURN'].map(lambda x : 1 if x == 'Churned' else 0)

In [6]:
ds_numeric = ds.select_dtypes(["int64", "float64"])
ds_numeric.head()

,CHURN,AGE,SERVICE_DURATION,DROPPED_CALLS,PEAK_CALLS_NO,PEAK_CALLS_TIME,WEEKEND_CALLS_NO,WEEKEND_CALLS_TIME,TOTAL_CALLS_NO,TOTAL_CALLS_TIME
0,0,31,33.33,6,218,379.8,9,21.6,366,632.4
1,0,27,30.87,10,373,656.4,11,28.0,411,810.4
2,0,27,49.40,11,260,582.0,0,0.0,265,614.1
3,0,61,48.60,1,294,661.8,14,101.5,326,844.0
4,0,52,56.03,0,221,555.6,7,25.0,274,673.0

In [7]:
np.random.seed(seed = 1234)
msk = np.random.rand(ds.shape[0], ) < 0.7
ds_train = ds_numeric[msk]
ds_test = ds_numeric[~msk]
ds_train_y = ds_train['CHURN']
ds_train_x = ds_train.drop('CHURN', axis = 1, inplace = False)
ds_test_y = ds_test['CHURN']
ds_test_x = ds_test.drop('CHURN', axis = 1, inplace = False)

# Step2. 모델 생성

In [10]:
naive_model = GaussianNB()
naive_model.fit(X = ds_train_x, y = ds_train_y)

naive_model.class_prior_.round(3)

array([0.808, 0.192])

# Step3. 결론 도출

In [11]:
print("Accuracy : {0:.3f}".format(naive_model.score(ds_test_x, ds_test_y)))

Accuracy : 0.790