# Step0. 모듈 불러오기

In [39]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

# Step1. 분석에 필요한 데이터 구성하기

In [31]:
ds_asso = pd.read_csv("상품구매.csv",engine = "python")
ds_asso

       ID      PRODUCT
0    C-11     BAGUETTE
1    C-11      HERRING
2    C-11      AVOCADO
3    C-11    ARTICHOKE
4    C-11     HEINEKEN
5    C-11       APPLES
6    C-11  CORNED BEEF
7    C-12      HERRING
8    C-12  CORNED BEEF
9    C-12       APPLES
10   C-12       OLIVES
11   C-12        STEAK
12   C-12     SARDINES
13   C-12     HEINEKEN
14   C-13     BAGUETTE
15   C-13     SARDINES
16   C-13       APPLES
17   C-13      PEPPERS
18   C-13      AVOCADO
19   C-13        STEAK
20   C-13    ICE CREAM
21   C-14      HERRING
22   C-14  CORNED BEEF
23   C-14       OLIVES
24   C-14          HAM
25   C-14       TURKEY
26   C-14         COKE
27   C-14       APPLES
28   C-15       OLIVES
29   C-15      BOURBON
..    ...          ...
110  C-26       APPLES
111  C-26     BAGUETTE
112  C-27       OLIVES
113  C-27      BOURBON
114  C-27         COKE
115  C-27       TURKEY
116  C-27    ICE CREAM
117  C-27         SODA
118  C-27      AVOCADO
119  C-28         SODA
120  C-28       OLIVES
121  C-28      BOURBON
122  C-28     CRACKERS
123  C-28     HEINEKEN
124  C-28    ARTICHOKE
125  C-28      PEPPERS
126  C-29       OLIVES
127  C-29      BOURBON
128  C-29         COKE
129  C-29       TURKEY
130  C-29    ICE CREAM
131  C-29     SARDINES
132  C-29         SODA
133  C-30       OLIVES
134  C-30      BOURBON
135  C-30         COKE
136  C-30       TURKEY
137  C-30    ICE CREAM
138  C-30         SODA
139  C-30          HAM

[140 rows x 2 columns]

In [80]:
#ds_asso.groupby('ID').groups
lst = []
for name, group in ds_asso.groupby("ID"):
    lst.append(group["PRODUCT"].tolist())

[['BAGUETTE', 'HERRING', 'AVOCADO', 'ARTICHOKE', 'HEINEKEN', 'APPLES', 'CORNED BEEF'], ['HERRING', 'CORNED BEEF', 'APPLES', 'OLIVES', 'STEAK', 'SARDINES', 'HEINEKEN'], ['BAGUETTE', 'SARDINES', 'APPLES', 'PEPPERS', 'AVOCADO', 'STEAK', 'ICE CREAM'], ['HERRING', 'CORNED BEEF', 'OLIVES', 'HAM', 'TURKEY', 'COKE', 'APPLES'], ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'ARTICHOKE', 'HAM'], ['BAGUETTE', 'HERRING', 'AVOCADO', 'ARTICHOKE', 'HEINEKEN', 'COKE', 'TURKEY'], ['SARDINES', 'HEINEKEN', 'CHICKEN', 'COKE', 'ICE CREAM', 'CORNED BEEF', 'APPLES'], ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'BAGUETTE', 'PEPPERS'], ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'STEAK', 'HERRING'], ['HERRING', 'CORNED BEEF', 'OLIVES', 'HAM', 'TURKEY', 'APPLES', 'BAGUETTE'], ['BAGUETTE', 'HERRING', 'AVOCADO', 'ARTICHOKE', 'HEINEKEN', 'BOURBON', 'CORNED BEEF'], ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'ARTICHOKE', 'STEAK'], ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'CORNED BEEF', 'HERRING'], ['SARDINES', 'HEINEKEN', 'CHICKEN', 'COKE', 'ICE CREAM', 'APPLES', 'BAGUETTE'], ['SARDINES', 'HEINEKEN', 'CHICKEN', 'COKE', 'ICE CREAM', 'CORNED BEEF', 'PEPPERS'], ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'APPLES', 'BAGUETTE'], ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SODA', 'AVOCADO'], ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'ARTICHOKE', 'PEPPERS'], ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SARDINES', 'SODA'], ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SODA', 'HAM']]

In [77]:
enc = TransactionEncoder()
arr = enc.fit_transform(X = lst)
ds_pre = pd.DataFrame(arr, columns=enc.columns_)
ds_pre

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True
5,False,True,True,True,False,False,True,False,False,False,True,True,False,False,False,False,False,False,True
6,True,False,False,False,False,True,True,True,False,False,True,False,True,False,False,True,False,False,False
7,False,False,False,True,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
8,False,False,False,False,True,False,False,False,True,False,True,True,False,True,False,False,True,True,False
9,True,False,False,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
10,False,True,True,True,True,False,False,True,False,False,True,True,False,False,False,False,False,False,False
11,False,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,True,False
12,False,False,False,False,True,False,False,True,True,False,True,True,False,True,False,False,True,False,False
13,True,False,False,True,False,True,True,False,False,False,True,False,True,False,False,True,False,False,False
14,False,False,False,False,False,True,True,True,False,False,True,False,True,False,True,True,False,False,False
15,True,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True
16,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False,False,True,False,True
17,False,True,False,False,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
18,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,True,True,False,True
19,False,False,False,False,True,False,True,False,False,True,False,False,True,True,False,False,True,False,True

# Step2. 라이브러리 불러오기

### 최소 지지도 0.4로 설정

In [83]:
min_support = 0.4
ds_freq = apriori(ds_pre, min_support= min_support, use_colnames=True)
ds_freq.round(3)

    support                 itemsets
0      0.40                 (APPLES)
1      0.40               (BAGUETTE)
2      0.55                (BOURBON)
3      0.50                   (COKE)
4      0.40            (CORNED BEEF)
5      0.60               (HEINEKEN)
6      0.40                (HERRING)
7      0.45              (ICE CREAM)
8      0.65                 (OLIVES)
9      0.40                   (SODA)
10     0.40                 (TURKEY)
11     0.50        (BOURBON, OLIVES)
12     0.40          (BOURBON, SODA)
13     0.40        (ICE CREAM, COKE)
14     0.40           (SODA, OLIVES)
15     0.40  (BOURBON, SODA, OLIVES)

In [84]:
ds_asso_rule = association_rules(ds_freq, metric = "confidence", min_threshold= 0.4)
ds_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(OLIVES),0.55,0.65,0.5,0.909,1.399,0.142,3.85
1,(OLIVES),(BOURBON),0.65,0.55,0.5,0.769,1.399,0.142,1.95
2,(BOURBON),(SODA),0.55,0.40,0.4,0.727,1.818,0.180,2.20
3,(SODA),(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf
4,(ICE CREAM),(COKE),0.45,0.50,0.4,0.889,1.778,0.175,4.50
5,(COKE),(ICE CREAM),0.50,0.45,0.4,0.800,1.778,0.175,2.75
6,(SODA),(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf
7,(OLIVES),(SODA),0.65,0.40,0.4,0.615,1.538,0.140,1.56
8,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.4,1.000,1.538,0.140,inf
9,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.4,0.800,2.000,0.200,3.00
10,"(SODA, OLIVES)",(BOURBON),0.40,0.55,0.4,1.000,1.818,0.180,inf
11,(BOURBON),"(SODA, OLIVES)",0.55,0.40,0.4,0.727,1.818,0.180,2.20
12,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.4,1.000,2.000,0.200,inf
13,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.4,0.615,1.538,0.140,1.56